<form [formGroup]="postFormEdit" (submit)="updatePost()">
  <div class="row">
    <div class="col">
      <input type="text" name="title" class="form-control" formControlName="title" placeholder="Title" />
    </div>
    <div class="col">
      <input type="text" name="description" class="form-control" formControlName="description" placeholder="Description">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-outline-secondary">Save Post</button>
    </div>
  </div>
</form>
