<form [formGroup]="postForm" (submit)="addPost()">
  <div class="row">
    <div class="col">
      <input type="text" name="title" class="form-control" formControlName="title" placeholder="Title" />
    </div>
    <div class="col">
      <input type="text" name="description" class="form-control" formControlName="description" placeholder="Description">
    </div>
    <div class="col">
      <button type="submit" (click)="openModal = !openModal" class="btn btn-outline-secondary">Add Post</button>
    </div>
  </div>
</form>

<div *ngIf="showAddModal">
  <app-modal [(visible)]="openModal">
      <div class="thank-you-pop">
          <h1>Thank You!</h1>
      </div>
  </app-modal>
</div>
