<app-carousel></app-carousel>
<div class="post-container container">
  <div id="shopping-list">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-post">
        <app-post-add></app-post-add>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 card-box">
        <div class="card">
          <img src="../../../assets/img/blog.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-secondary">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 action-post">
        <app-post-edit></app-post-edit>
      </div>
    </div>
  </div>
</div>
